*{
    margin: 0;
    padding: 0;
}

:root{
    --color-primary:white;
}

body{
    background-color: rgba(59, 59, 59, 1);
}

.header-element{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 6vh;
    background: #ffffff;
    z-index: 2;
}

.title-element{
    position: relative;
    display:flex;
    align-items: center;
    left: 5%;
}

.nav-element {
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
    right: 5%;
}

.ul-element{
    display: flex;
    justify-content: center;
    gap: 5vh;
    width: 100%;
}

.ul-element > l1 > a {
    text-decoration: none;
    color: black;
}
